.content {
  background-color: #77e87b;
  width: 100%;
  opacity: 0.8;
  justify-content: space-around;
  display: flex;
  padding-top: 56px;
}
#sepratehr {
  width: 4px;
  background: white;
  opacity: 10;
  margin: 0;
  color: transparent;
  height: 695px;
  display: none;
}

label {
  margin-left: -24px;
  margin-bottom: 10px;
  color: black;
  font-size: 17px;
  font-weight: 500;
}

.hrdivorder {
  width: 4px;
  background: white;
  opacity: 10;
  margin: 0;
  color: transparent;
  height: 500px;
}
.walletdiv {
  background: white;
  height: 182px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-top: 50px;
}

.walleth1 {
  position: absolute;
  left: 30%;
}
.userheaderresponsive {
  display: none;
}

@media (max-width: 800px) {
  #sepratehr {
    display: none;
  }
  .userheaderchange {
    display: none;
  }
  .userheaderresponsive {
    display: block;
  }
}
.shippingdisplay {
  padding: 10px;
  background: white;
  font-size: larger;
  font-weight: 450;
  border-radius: 6px;
}
