.innerdiv{

    width: 72%;
    background-color: #77E87B;
    opacity: 86%;
    margin:auto;
    padding-bottom: 28px;

}
.gridDiv{
    display: grid;
    grid-template-columns: 40% 40%;
    margin-left: 49px;
    
    column-gap: 90px;
    margin-top: 1px;
    grid-template-rows: repeat(8, 78px);
}
.sectiondiv{
     gap: 24px;
    display: grid;
    grid-template-columns: 40% 40%;
}



@media (max-width:900px){
    .gridDiv{
        grid-template-columns: 70%;
        row-gap: 7px;}
}

.borderNone{
    border: none;
}

.customfileuploaddiv{
padding-top: 4px;
    border: #cfc1c1 solid 0.5px;
    text-align: center;
    height: 37px;
    background: white;
    position: absolute;
    top: -1px;
    width: 93%;
border-radius: 3px;
z-index: -2;
cursor: pointer;
}


.customfileuploadinp{
    opacity: 0;
    width: -webkit-fill-available;cursor: pointer;
    
}