.head{
    width: 100%;
    z-index: 10;
    background: #44496D;
    position: fixed;
}
.flexdiv{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-family: "Oswald", sans-serif;

}
.flexsubdiv{
    
    display: flex;
    align-items: center;


}

.homeElement{
color: white;
font-size: 30px;
}

.mainHead{
color: white;
font-size: 53px;

}