#inpdivflex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}

.inp:focus{
    border: white;
    background-color: #57c259;
    outline: white;

}
.inp{
    background-color: #77E87B;
    opacity: 86%;
    border-radius: 2px;
    color: white;
    border:solid 2px white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error{
    color: red;
    text-align: center;
    margin-top: 33px;
    font-size: 14px;
    
}