.innerdiv{
    background-color: #7CA0D7;
    border-radius: 4px;
}

.mainhead{
    text-decoration: underline;
}
.inp{
    background-color: #7CA0D7;
}

.inp:focus {
    border-color: transparent transparent white transparent;
    outline: none;
    background-color: #6f97d4;
}

    .error{
        color: red;
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        
    }
